body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.form-container {
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #efefef;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 0 0 2px #efefef;
}

input:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px #c7c7c7;
}

button {
    padding: 10px 20px;
    background-color: #f14668;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e7415e;
}

.donor-list {
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.donor-list li {
    list-style-type: none;
    margin: 10px 0;
}

.donor-list li::before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #f14668;
    border-radius: 50%;
    margin-right: 10px;
}
