<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система учета доноров крови - Врачи</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal_styles.css') }}">
</head>
<body>
<div class="header">
    <div class="left-group">
        <div class="hospital-name" id="hospital-name">Загрузка...</div>
        <div class="navigation">
            <button onclick="location.href='/doctor/list'">👩‍⚕️ Доктора</button>
            <button onclick="location.href='/medical_institution/list'">🏥 Организации</button>
        </div>
    </div>

    <div class="name-container" onmouseenter="showLogoutButton()" onmouseleave="hideLogoutButton()">
        <div class="name" onfocus="showLogoutButton()" id="doctor-name">
            Загрузка...
        </div>
        <div class="exit-button" style="display: none" onmouseenter="showLogoutButton()"
             onmouseleave="hideLogoutButton()" onclick="location.href='/login'">Выход
        </div>
    </div>
</div>

<div id="loading" style="display: none; text-align: center; padding: 10px;">Загрузка...</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const loadingElement = document.getElementById('loading');

        function showLoading() {
            loadingElement.style.display = 'block';
        }

        function hideLoading() {
            loadingElement.style.display = 'none';
        }

        fetch('/doctor/current')
            .then(response => {
                if (!response.ok) throw new Error(`HTTP error! Status: ${response.status}`);
                return response.json();
            })
            .then(data => {
                if (data.error) {
                    document.getElementById('doctor-name').textContent = 'Врач не найден';
                    document.getElementById('hospital-name').textContent = 'Учреждение не найдено';
                } else {
                    document.getElementById('doctor-name').textContent = `${data.secondname} ${data.name.charAt(0)}.`;
                    document.getElementById('hospital-name').textContent = data.institutionname;
                    document.getElementById('hospital-name').dataset.institutionCode = data.institutioncode;
                }
                loadDoctors();
                hideLoading();
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('doctor-name').textContent = 'Ошибка загрузки';
                document.getElementById('hospital-name').textContent = 'Ошибка загрузки';
                loadDoctors();
                hideLoading();
            });
    });
</script>

<main class="content-wrapper">

<div class="search-container">
    <form id="search-form">
        <table>
            <tr>
                <th><label for="secondname">Фамилия:</label></th>
                <td><input type="text" id="secondname" name="secondname"></td>
                <th><label for="name">Имя:</label></th>
                <td><input type="text" id="name" name="name"></td>
            </tr>
            <tr>
                <th><label for="servicenumber">Табельный номер:</label></th>
                <td><input type="text" id="servicenumber" name="servicenumber"></td>
                <th><label for="jobtitle">Должность:</label></th>
                <td><input type="text" id="jobtitle" name="jobtitle"></td>
            </tr>
            <tr>
                <td colspan="4" style="text-align: right;">
                    <button type="button" onclick="searchDoctors()">Найти</button>
                    <button type="reset">Очистить</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<div class="action-buttons">
    <button onclick="addDoctorModal()">Добавить доктора</button>
</div>

<div id="addDoctorModal" class="modal-add">
    <div class="modal-add-content">
        <span class="close" onclick="closeAddModal()">×</span>
        <form id="addDoctorForm">
            <table>
                <tr>
                    <th><label for="addDoctorName">Имя:</label></th>
                    <td><input type="text" id="addDoctorName" name="name" required></td>
                    <th><label for="addDoctorSecondName">Фамилия:</label></th>
                    <td><input type="text" id="addDoctorSecondName" name="secondname" required></td>
                </tr>
                <tr>
                    <th><label for="addDoctorJobTitle">Должность:</label></th>
                    <td><input type="text" id="addDoctorJobTitle" name="jobtitle" required></td>
                    <th><label for="addDoctorRole">Роль:</label></th>
                    <td>
                        <select id="addDoctorRole" name="role" required>
                            <option value="doctor">Врач</option>
                            <option value="admin">Администратор</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="addDoctorLogin">Логин:</label></th>
                    <td><input type="text" id="addDoctorLogin" name="login" required></td>
                    <th><label for="addDoctorPassword">Пароль:</label></th>
                    <td><input type="password" id="addDoctorPassword" name="password" required></td>
                </tr>
                <tr>
                    <th><label for="addDoctorEmail">Email:</label></th>
                    <td colspan="3"><input type="email" id="addDoctorEmail" name="email" required></td>
                </tr>
            </table>
            <div class="modal-add-action-buttons">
                <button type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</div>

<div id="editDoctorModal" class="modal-edit">
    <div class="modal-edit-content">
        <span class="close" onclick="closeEditModal()">×</span>
        <form id="editDoctorForm">
            <input type="hidden" id="editDoctorInstitutionCode" name="institutioncode">
            <input type="hidden" id="editDoctorServiceNumber" name="servicenumber">
            <table>
                <tr>
                    <th><label for="editDoctorName">Имя:</label></th>
                    <td><input type="text" id="editDoctorName" name="name" required></td>
                    <th><label for="editDoctorSecondName">Фамилия:</label></th>
                    <td><input type="text" id="editDoctorSecondName" name="secondname" required></td>
                </tr>
                <tr>
                    <th><label for="editDoctorJobTitle">Должность:</label></th>
                    <td><input type="text" id="editDoctorJobTitle" name="jobtitle" required></td>
                    <th><label for="editDoctorRole">Роль:</label></th>
                    <td>
                        <select id="editDoctorRole" name="role" required>
                            <option value="doctor">Врач</option>
                            <option value="admin">Администратор</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="editDoctorLogin">Логин:</label></th>
                    <td><input type="text" id="editDoctorLogin" name="login" required></td>
                    <th><label for="editDoctorPassword">Пароль:</label></th>
                    <td><input type="password" id="editDoctorPassword" name="password" placeholder="Оставьте пустым, чтобы не менять"></td>
                </tr>
                <tr>
                    <th><label for="editDoctorEmail">Email:</label></th>
                    <td colspan="3"><input type="email" id="editDoctorEmail" name="email" required></td>
                </tr>
            </table>
            <div class="modal-edit-action-buttons">
                <button type="submit">Сохранить изменения</button>
            </div>
        </form>
    </div>
</div>

<table class="donors-list">
    <thead>
    <tr>
        <th>ФИО</th>
        <th>Табельный номер</th>
        <th>Должность</th>
        <th>Роль</th>
        <th>Логин</th>
        <th>Email</th>
        <th>Учреждение</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody id="doctors-list">
    </tbody>
</table>

<div id="dismissModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeDismissModal()">×</span>
        <h3>Увольнение врача</h3>
        <p>Вы собираетесь уволить врача: <span id="dismissDoctorName"></span></p>
        <p>Все связанные записи будут переданы другому врачу:</p>
        <div class="form-group">
            <label for="transferToDoctor">Передать записи врачу:</label>
            <select id="transferToDoctor" required>
                <option value="">Выберите врача</option>
            </select>
        </div>
        <button onclick="confirmDismissal()">Подтвердить увольнение</button>
    </div>
</div>

</main>

<div class="footer">
    <span>Разработка и поддержка - ООО "DONOR MIRROR"</span>
</div>

<script src="{{ url_for('static', filename='js/doctorList.js') }}"></script>
<script src="{{ url_for('static', filename='js/doctorAddModal.js') }}"></script>
<script src="{{ url_for('static', filename='js/doctorEditModal.js') }}"></script>
<script src="{{ url_for('static', filename='js/doctorDismissModal.js') }}"></script>
<script src="{{ url_for('static', filename='js/index_scripts.js') }}"></script>

</body>
</html>