<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система учета доноров крови</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list_styles.css') }}">
</head>
<body>
<div class="header">
    <div class="hospital-name" id="hospital-name">Загрузка...</div>
    <div class="name-container" onmouseenter="showLogoutButton()" onmouseleave="hideLogoutButton()">
        <div class="name" onfocus="showLogoutButton()" id="doctor-name">
            Загрузка...
        </div>
        <div class="exit-button" style="display: none" onmouseenter="showLogoutButton()"
             onmouseleave="hideLogoutButton()" onclick="location.href='/login'">Выход
        </div>
    </div>
</div>

<div id="loading" style="display: none; text-align: center; padding: 10px;">Загрузка...</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const loadingElement = document.getElementById('loading');

        function showLoading() {
            loadingElement.style.display = 'block';
        }

        function hideLoading() {
            loadingElement.style.display = 'none';
        }

        fetch('/doctor/current')
            .then(response => {
                if (!response.ok) throw new Error(`HTTP error! Status: ${response.status}`);
                return response.json();
            })
            .then(data => {
                if (data.error) {
                    document.getElementById('doctor-name').textContent = 'Врач не найден';
                    document.getElementById('hospital-name').textContent = 'Учреждение не найдено';
                } else {
                    document.getElementById('doctor-name').textContent = `${data.secondname} ${data.name.charAt(0)}.`;
                    document.getElementById('hospital-name').textContent = data.institutionname;
                    document.getElementById('hospital-name').dataset.institutionCode = data.institutioncode;
                }
                searchDonors();
                hideLoading();
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('doctor-name').textContent = 'Ошибка загрузки';
                document.getElementById('hospital-name').textContent = 'Ошибка загрузки';
                searchDonors();
                hideLoading();
            });
    });

    function setTrueShouldGetDonorsState() {
        localStorage.setItem('shouldGetDonors', 'true');
    }

    function setFalseShouldGetDonorsState() {
        localStorage.setItem('shouldGetDonors', 'false');
    }

    function getShouldGetDonorsState() {
        return localStorage.getItem('shouldGetDonors') === 'true';
    }
</script>

<div class="search-container">
    <form id="search-form">
        <table>
            <tr>
                <th><label for="surname">Фамилия:</label></th>
                <td><input type="text" id="surname" name="surname"></td>
                <th><label for="name">Имя:</label></th>
                <td><input type="text" id="name" name="name"></td>
                <th><label for="secondname">Отчество:</label></th>
                <td><input type="text" id="secondname" name="secondname"></td>
            </tr>
            <tr>
                <th><label for="passportdata">Паспорт:</label></th>
                <td><input type="text" id="passportdata" name="passportdata"></td>
                <th><label for="address">Адрес:</label></th>
                <td><input type="text" id="address" name="address"></td>
                <th><label for="phonenumber">Телефон:</label></th>
                <td><input type="text" id="phonenumber" name="phonenumber"></td>
            </tr>
            <tr>
                <th><label for="polis">Полис:</label></th>
                <td><input type="text" id="polis" name="polis"></td>
                <th><label for="birthday">Д/Р:</label></th>
                <td><input type="date" id="birthday" name="birthday"></td>
                <th><label for="gender">Пол:</label></th>
                <td>
                    <select id="gender" name="gender">
                        <option value="">Все</option>
                        <option value="M">Мужской</option>
                        <option value="F">Женский</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th><label for="bloodgroup">Группа крови:</label></th>
                <td>
                    <select id="bloodgroup" name="bloodgroup">
                        <option value="">Все</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="AB">AB</option>
                        <option value="O">O</option>
                    </select>
                </td>
                <th><label for="rhfactor">Резус-фактор:</label></th>
                <td>
                    <select id="rhfactor" name="rhfactor">
                        <option value="">Все</option>
                        <option value="+">+</option>
                        <option value="-">-</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="6" style="text-align: right;">
                    <button type="button" onclick="setFalseShouldGetDonorsState(); searchDonors()">Найти</button>
                    <button type="reset">Очистить</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const searchForm = document.getElementById('search-form');

    searchForm.addEventListener('reset', function() {
        setTrueShouldGetDonorsState();
        setTimeout(() => searchDonors(), 0);
    });
});
</script>

<div class="action-buttons">
    <button onclick="addDonorModal()">Добавить донора</button>
</div>

<div id="addDonorModal" class="modal-add">
    <div class="modal-add-content">
        <span class="close" onclick="closeAddModal()">×</span>
        <form id="addDonorForm">
            <table>
                <tr>
                    <th><label for="addDonorName">Имя:</label></th>
                    <td><input type="text" id="addDonorName" name="name" required></td>
                    <th><label for="addDonorSecondName">Фамилия:</label></th>
                    <td><input type="text" id="addDonorSecondName" name="secondname" required></td>
                    <th><label for="addDonorSurname">Отчество:</label></th>
                    <td><input type="text" id="addDonorSurname" name="surname"></td>
                </tr>
                <tr>
                    <th><label for="addDonorBirthday">Д/Р:</label></th>
                    <td><input type="date" id="addDonorBirthday" name="birthday" required></td>
                    <th><label for="addDonorGender">Пол:</label></th>
                    <td>
                        <select id="addDonorGender" name="gender" required>
                            <option value="M">Мужской</option>
                            <option value="F">Женский</option>
                        </select>
                    </td>
                    <th><label for="addDonorAddress">Адрес:</label></th>
                    <td><input type="text" id="addDonorAddress" name="address"></td>
                </tr>
                <tr>
                    <th><label for="addDonorPhoneNumber">Телефон:</label></th>
                    <td><input type="text" id="addDonorPhoneNumber" name="phonenumber"></td>
                    <th><label for="addDonorPassportData">Паспорт:</label></th>
                    <td><input type="text" id="addDonorPassportData" name="passportdata" required></td>
                    <th><label for="addDonorPolis">Полис:</label></th>
                    <td><input type="text" id="addDonorPolis" name="polis"></td>
                </tr>
                <tr>
                    <th><label for="addDonorBloodGroup">Группа крови:</label></th>
                    <td>
                        <select id="addDonorBloodGroup" name="bloodgroup" required>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="AB">AB</option>
                            <option value="O">O</option>
                        </select>
                    </td>
                    <th><label for="addDonorRhFactor">Резус-фактор:</label></th>
                    <td>
                        <select id="addDonorRhFactor" name="rhfactor" required>
                            <option value="+">+</option>
                            <option value="-">-</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="modal-add-action-buttons">
                <button type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</div>

<div id="editDonorModal" class="modal-edit">
    <div class="modal-edit-content">
        <span class="close" onclick="closeEditModal()">×</span>
        <form id="editDonorForm">
            <input type="hidden" id="editDonorPassportData" name="passportdata">
            <input type="hidden" id="editDonorInstitutionCode" name="institutioncode">
            <table>
                <tr>
                    <th><label for="editDonorName">Имя:</label></th>
                    <td><input type="text" id="editDonorName" name="name" required></td>
                    <th><label for="editDonorSecondName">Фамилия:</label></th>
                    <td><input type="text" id="editDonorSecondName" name="secondname" required></td>
                    <th><label for="editDonorSurname">Отчество:</label></th>
                    <td><input type="text" id="editDonorSurname" name="surname"></td>
                </tr>
                <tr>
                    <th><label for="editDonorBirthday">Д/Р:</label></th>
                    <td><input type="date" id="editDonorBirthday" name="birthday" required></td>
                    <th><label for="editDonorGender">Пол:</label></th>
                    <td>
                        <select id="editDonorGender" name="gender" required>
                            <option value="M">Мужской</option>
                            <option value="F">Женский</option>
                        </select>
                    </td>
                    <th><label for="editDonorAddress">Адрес:</label></th>
                    <td><input type="text" id="editDonorAddress" name="address"></td>
                </tr>
                <tr>
                    <th><label for="editDonorPhoneNumber">Телефон:</label></th>
                    <td><input type="text" id="editDonorPhoneNumber" name="phonenumber"></td>
                    <th><label for="editDonorPolis">Полис:</label></th>
                    <td><input type="text" id="editDonorPolis" name="polis"></td>
                    <th><label for="editDonorPassport">Паспорт:</label></th>
                    <td><input type="text" id="editDonorPassportDisplay" readonly></td>
                </tr>
                <tr>
                    <th><label for="editDonorBloodGroup">Группа крови:</label></th>
                    <td>
                        <select id="editDonorBloodGroup" name="bloodgroup" required>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="AB">AB</option>
                            <option value="O">O</option>
                        </select>
                    </td>
                    <th><label for="editDonorRhFactor">Резус-фактор:</label></th>
                    <td>
                        <select id="editDonorRhFactor" name="rhfactor" required>
                            <option value="+">+</option>
                            <option value="-">-</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="modal-edit-action-buttons">
                <button type="submit">Сохранить изменения</button>
            </div>
        </form>
    </div>
</div>

<table class="donors-list">
    <thead>
    <tr>
        <th>Паспорт</th>
        <th>ФИО</th>
        <th>Пол</th>
        <th>Дата рождения</th>
        <th>Адрес</th>
        <th>Телефон</th>
        <th>Полис</th>
        <th>Группа крови</th>
        <th>Резус-фактор</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody id="donors">
    </tbody>
</table>

<div class="footer">
    <span>Разработка и поддержка - ООО "DONOR MIRROR"</span>
</div>

<script src="{{ url_for('static', filename='js/index_scripts.js') }}"></script>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script src="{{ url_for('static', filename='js/addModal.js') }}"></script>
<script src="{{ url_for('static', filename='js/editModal.js') }}"></script>
<script src="{{ url_for('static', filename='js/donorList.js') }}"></script>

</body>
</html>